@import "variables-functions-and-mixins";
@import "fonts";
@import "smart-grid.sass";
@import "header.scss";
@import "index.scss";
* {
  //font-family: $main-font, Serif;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none !important;
}
a {
  text-decoration: none !important;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1540px;
}
.d-flex {
  width: 100%;
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: space-between;
}

.main-block {
  height: auto;
  width: 821px;
  border: 1px solid #E3E3E3;
  border-radius: 10px;
  background-color: #FFFFFF;
  margin-bottom: 100px;
  padding: 45px 60px 30px 60px;
}

.title {
  color: #494949;
  font-family: Ubuntu;
  font-size: 21px;
  line-height: 25px;
  font-weight: bold;
}



//header

.logo-mob {
  display: none !important;
}
header .container {
  display: flex;
}
.logo {
  height: 92px;
  width: 186px;
  margin-right: 130px;
}
.logo img {
  width: 100%;
  height: auto;
}
.header-top {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid #E3E3E3;
  margin-bottom: 12px;
}

.header-top  .call {
  color: #0F6F00;
  font-family: Ubuntu;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
}

.call .fa-mobile-alt {
  height: 21px;
  width: 21px;
  font-size: 14px;
  border-radius: 50%;
  background-color: #0F6F00;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 18px;
}
.header-right {
  width: 100%;
}


/*Navigation*/


header nav ul {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}
header nav ul a {
  color: #494949;
  font-family: Ubuntu;
  font-size: 15px;
  line-height: 17px;
}
header nav ul a:hover {
  color: #0F6F00;
}

.navbar {
  padding: 0 !important;
  margin-bottom: 0;
  justify-content: flex-end !important;
  display: none !important;
}





.header-top span {
  color: #494949;
  font-family: Ubuntu;
  font-size: 13px;
  line-height: 14px;
  margin-right: 20px;
}

/*Dropdown-menu*/
.desktop-menu {
  height: 50px;
  width: 270px;
  background-color: #0F6F00;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 20px;
  color: #FFFFFF;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: bold;
  line-height: 19px;
  outline: none !important;
}

.dropdown-menu.show {
  height: auto;
  width: 270px;
  height: 467px;
  margin-top: -2px;
  border: 1px solid #ECECEC;
  border-radius: 0 0 5px 5px;
  background-color: #FFFFFF;
  box-shadow: none;
  padding: 26px 30px 26px 29px;
}
.dropdown-menu .dropdown-item {
  color: #969696;
  font-family: Ubuntu;
  font-size: 14px;
  line-height: 16px;
  padding: 0;
  margin-bottom: 14px;
  display: flex;
  //justify-content: space-between;
}
.dropdown-menu .dropdown-item span {
  margin-left: auto;
}
.dropdown-menu .dropdown-item:hover {
  color: #0f6f00;
  background: transparent;
}

 .collapse {
  display: none !important;
}




.desktop-menu .fa-list-ul {
  height: 12px;
  width: 16px;
  color: #fff;
  margin-right: 39px;
}



/*End dropdown-menu*/







.search-block {
  height: 50px;
  width: 100%;
  border-radius: 0 5px 0 0;
  background-color: #F3F3F3;
  display: flex;
  align-items: center;
  padding-left: 49px;
  position: relative;
}
.search {
  position: relative;
  margin-right: 99px;
}

.search input[type=search] {
  height: 25px;
  width: 596px;
  border: 1px solid #E3E3E3;
  background-color: #FFFFFF;
  padding-left: 17px;
  outline: none;
  font-size: 13px;
  font-family: Ubuntu;
  border-radius: 5px;
  position: inherit;
}
.search button {
  position: absolute;
  top: 0;
  right: 0;
  height: 25px;
  width: 42px;
  border-radius: 0 5px 5px 0;
  background-color: #0F6F00;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wish {
  height: 16.89px;
  width: 20px;
  color: #A5A5A5;
  margin-right: 20px;
}

/* Retun page*/
.return-block h3 {
  margin-bottom: 40px;
}

.return-block h5 {
  color: #494949;
  font-family: Ubuntu;
  font-size: 14px;
  line-height: 25px;
  font-weight: bold;
  margin-bottom: 38px;
}
.return-block p {
  color: #494949;
  font-family: Ubuntu;
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 10px;
}


/* Product page*/
.product-block {
  height: 590px;
  width: 100%;
  border: 1px solid #E3E3E3;
  border-radius: 10px;
  background-color: #FFFFFF;
  margin-bottom: 73px;
  display: flex;
}

/*Product Slider*/
.product-slider {
  width: 700px !important;
  height: 100% !important;
  border-right: 1px solid #e3e3e3;
  display: flex;
}

.slider-nav {
  padding: 23px 48px 50px 48px;
  width: 225px;
  height: 100%;
  border-right: 1px solid #E3E3E3;
  overflow: hidden;
}
.mini-img {
  width: 131px !important;
  height: 109px !important;
  margin-bottom: 27px !important;
}
.mini-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.slider-for {
  width: 464px !important;
  display: flex !important;
  align-items: center;
  justify-content: center !important;
  padding: 50px 57px 42px 59px;
}



.product-block {

  .product-info {

    .product-title {
      padding: 16px 28px 19px 37px;
      border-bottom: 1px solid #e3e3e3;
      .product-name {
        width: 319px;
        color: #494949;
        font-family: Ubuntu;
        font-size: 18px;
        font-weight: bold;
        line-height: 21px;
      }
      .code {
        color: #C0C0C0;
        font-family: Ubuntu;
        font-size: 16px;
        line-height: 18px;
      }
    }
    .seller {
      padding: 16px 28px 24px 37px;
      border-bottom: 1px solid #E3E3E3;

      h6 {
        color: #494949;
        font-family: Ubuntu;
        font-size: 14px;
        line-height: 16px;
      }
      .brand {
        height: 30px;
        width: 120px;
        img {
          width: 100%;
        }
      }
    }
    .product-color {
      padding: 24px 38px;
      h5 {

      }
    }
    .price-block {
      padding-left: 38px;
      margin-bottom: 37px;

      .old-price {
        color: #E2E2E2;
        font-family: Ubuntu;
        font-size: 24px;
        line-height: 28px;
        text-decoration: line-through;
        display: block;
      }
      .price {
        color: #494949;
        font-family: Ubuntu;
        font-size: 36px;
        font-weight: bold;
        line-height: 42px;
      }
    }

  }
  .btns {
    padding-left: 38px;
    .buy {
      height: 40px;
      width: 269px;
      border-radius: 5px;
      background-color: #0F6F00;
      color: #FFFFFF;
      font-family: Ubuntu;
      font-size: 14px;
      font-weight: bold;
      line-height: 19px;
      text-align: center;
      margin-right: 15px;
    }
    .wish {
      height: 38px;
      width: 45px;
      background: transparent;
      border: none;
    }
  }
}






.about-product {
  height: 542px;
  width: 1107px;
  border: 1px solid #E3E3E3;
  border-radius: 10px;
  background-color: #FFFFFF;
  margin-bottom: 73px;
  display: flex;
  flex-wrap: wrap;

  h4 {
    color: #494949;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
  }
}

.reviews-block {
  margin-bottom: 140px;
  h3 {
    color: #494949;
    font-family: Ubuntu;
    font-size: 30px;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: 20px;
  }
  .reviews-amount {
    color: #494949;
    font-family: Ubuntu;
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    margin-bottom: 28px;
    display: block;
  }
  .review {
    height: auto;
    width: 100%;
    border: 1px solid #E3E3E3;
    border-radius: 17px;
    background-color: #FFFFFF;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;

    .user-name {
      color: #494949;
      font-family: Ubuntu;
      font-size: 16px;
      font-weight: 500;
      line-height: 19px;
    }
    .review-text {
      width: 65%;
      p {
        color: #A3A3A3;
        font-family: Ubuntu;
        font-size: 12px;
        line-height: 14px;
      }
      .reply {
        color: #494949;
        font-family: Ubuntu;
        font-size: 14px;
        line-height: 17px;
        margin-right: 62px;
        img {
          margin-right: 14px;
        }
      }
      .useful {
        color: #494949;
        font-family: Ubuntu;
        font-size: 14px;
        line-height: 17px;
        margin-right: 43px;
      }
    }
    .date {
      color: #A3A3A3;
      font-family: Ubuntu;
      font-size: 12px;
      line-height: 14px;
    }
    .like {
      background: transparent;
      border: none;

      img {
        margin-right: 10px;
      }
    }
    .dislike {
      background: transparent;
      border: none;

      img {
        transform: rotate(180deg);
        margin-right: 10px;
      }
    }
  }
}

.characteristics {
  width: 45%;
  height: 100%;
  padding: 38px 68px 38px 62px;
  border-right: 1px solid #E3E3E3;

  h4 {
    margin-bottom: 43px;
  }
  h6 {
    color: #494949;
    font-family: Ubuntu;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    margin-bottom: 18px;
  }
}

.characteristics-list {

  li {
    color: #494949;
    font-family: Ubuntu;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;

    span {
      font-weight: bold;
    }
  }
}
.description {
  width: 55%;
  height: 100%;
  padding: 38px 62px 38px 53px;

  h4  {
    margin-bottom: 38px;
  }
  p {
    color: #494949;
    font-family: Ubuntu;
    font-size: 13px;
    font-weight: 300;
    line-height: 15px;
    margin-bottom: 18px;
  }
}




/* Order page */

.main-wrap .container {
  display: flex;
}

/*main-slider*/


.main-slider {
  width: 797px !important;
  height: 422px;
  margin-left: auto;
  margin-bottom: 77px;
  margin-top: 18px;
}
.main-slider div img {
  width: 100%;
  height: 100%;
  object-fit: contain !important;
}

.slick-next {
  right: 15px !important;
}
.slick-prev {
  left: 15px !important;
  z-index: 1;
}


/*Categories*/

.categories {
  height: auto;
  width: 270px;
  height: 465px;
  border: 1px solid #ECECEC;
  border-radius: 0 0 5px 5px;
  background-color: #FFFFFF;
  box-shadow: none;
  padding: 26px 30px 26px 29px;
}

.categories .dropdown-item {
  color: #969696;
  font-family: Ubuntu;
  font-size: 14px;
  line-height: 16px;
  padding: 0;
  margin-bottom: 14px;
  display: flex;
  //justify-content: space-between;
}
.dropdown-item img {
  width: 16px;
  height: 16px;
  object-fit: cover;
  margin-right: 10px;
}

.categories .dropdown-item:hover {
  color: #0f6f00;
  background: transparent;
}
.categories .dropdown-item span {
  margin-left: auto;
}




.desktop-menu .fa-list-ul {
  height: 12px;
  width: 16px;
  color: #fff;
  margin-right: 39px;
}







/*best-product*/
.main-products-container {
  margin-bottom: 50px;
}
.products-container {
  display: flex;
  border-bottom: 1px solid #DEDEDE;
}

.main-products-container .title {
  color: #494949;
  font-family: Ubuntu;
  font-size: 36px;
  font-weight: bold;
  line-height: 42px;
  margin-bottom: 39px;
}

.more {
  height: 40px;
  width: 260px;
  border-radius: 5px;
  background-color: #0F6F00;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: bold;
  line-height: 19px;
  text-align: center;
}
.more:hover,
.more:active,
.more:visited {
  color: #fff;
}

.product-item {
  width: 296px;
  height: auto;
  border-right: 1px solid #DEDEDE;
  padding: 10px 33px 22px 46px;
}

.product-item:last-child {
  border-right: 0;
}

.product-img {
  height: 122.77px;
  width: 191.31px;
  margin-bottom: 30px;
}
.product-img img {
  width: 100%;
  height: 100%;
  background-size: contain;
}

.product-name {
  color: #494949;
  font-family: Ubuntu;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 12px;
}
.currently-price {
  color: #BF4444;
  font-family: Ubuntu;
  font-size: 30px;
  font-weight: bold;
  line-height: 35px;
  display: block;
  margin-bottom: 10px;
}
.old-price {
  color: #B4B4B4;
  font-family: Ubuntu;
  font-size: 18px;
  line-height: 21px;
}


/*Contacts*/

.contacts-block .title {
  margin-bottom: 48px;
}
.contacts-block p {
  color: #494949;
  font-family: Ubuntu;
  font-size: 16px;
  line-height: 25px;
}
.hotline-description {
  margin-bottom: 35px;
}

.contact-phone {
  margin-bottom: 38px;
}
.contact-email {
  margin-bottom: 80px;
}

.social-description {
  margin-bottom: 25px;
}
.contacts .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


/*SideBar*/

aside.sidebar {
  height: 302px;
  width: 253px;
  border: 1px solid #E3E3E3;
  border-radius: 10px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
}
aside.sidebar a {
  border-bottom: 1px solid #E3E3E3;
  padding: 12px 45px;
  width: 100%;
  color: #494949;
  font-family: Ubuntu;
  font-size: 18px;
  line-height: 25px;
}
aside a:last-child {
  border-bottom: none;
}

aside a:hover {
  width: 100%;
  color: #fff;
  background-color: #0F6F00;
}

.breadcrumb {
  background: transparent !important;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.breadcrumb a,
.breadcrumb li {
  color: #C0C0C0;
  font-family: Ubuntu;
  font-size: 13px;
  line-height: 13px;
}

.breadcrumb>li+li:before {
  padding: 0 5px;
  color: #ccc;
  content: ">";
}

/*Help*/

.help-block  .title {
  margin-bottom: 30px;
}
.help-block form .input-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.help-block form input[type=text],
.help-block form input[type=email] {
  height: 45px;
  width: 328px;
  border: 1px solid #E3E3E3;
  border-radius: 5px;
  background-color: #FFFFFF;
  padding-left: 20px;
  outline: none;
  font-family: Ubuntu;
}
.help-block form button[type=submit] {
  height: 55px;
  width: 351px;
  border-radius: 5px;
  background-color: #0F6F00;
  color: #FFFFFF;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: bold;
  line-height: 19px;
  text-align: center;
  margin-left: auto;
  display: block;
}

.help-block form label {
  color: #494949;
  font-family: Ubuntu;
  font-size: 14px;
  line-height: 16px;
  display: block;
  margin-bottom: 7px;
}
.help-block form textarea {
  height: 200px;
  width: 700px;
  border: 1px solid #E3E3E3;
  border-radius: 5px;
  background-color: #FFFFFF;
  resize: none;
  margin-bottom: 23px;
}


/*About*/

.about-block .title {
  margin-bottom: 48px;
}
.about-img {
  height: 311px;
  width: 304px;
  margin-bottom: 44px;
}
.about-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-text {
  width: 51%;
  color: #494949;
  font-family: Ubuntu;
  font-size: 14px;
  line-height: 25px;
}
.about-decription {
  color: #494949;
  font-family: Ubuntu;
  font-size: 14px;
  line-height: 25px;
}


/*How to use*/

.accordion-toggle {
  cursor: pointer;
  height: 45px;
  width: 100%;
  background-color: #F5F5F5;
  display: flex;
  align-items: center;
  padding-left: 30px;
  margin-bottom: 10px;
  color: #494949;
  font-family: Ubuntu;
  font-size: 16px;
  line-height: 18px;
}
.accordion-content {
  display: none;
  width: 100%;
  padding: 15px 30px;
}
.accordion-content.default {display: block;}

.how-to-use .title {
  margin-bottom: 34px;
}

/* Cart*/
.cart-btn {
  background: transparent;
  border: none;
  outline: none;
}

.modal {
  display: none;
  position: fixed;
  top: 100px !important;
  height: 752px !important;
  width: 760px !important;
  background-color: #FFFFFF;
  margin: 0 auto;
  border-radius: 5px;
  z-index: 10;
  box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.7);
}

.close-modal {
  color:  #000;
  text-decoration: none;
  float: right;
  position: absolute;
  top: 10px;
  right: 20px
}
.modal-title {
  padding: 22px 40px;
  border-bottom: 1px solid #E3E3E3;
}
.modal-title h4 {
  color: #494949;
  font-family: Ubuntu;
  font-size: 21px;
  font-weight: bold;
  line-height: 25px;
}
.cart-item {
  padding: 33px 40px 38px 40px;
  border-bottom: 1px solid #E3E3E3;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cart-item-img {
  height: 85px;
  width: 85px;
}
.cart-item-img img {
  width: 100%;
}

.cart-product-name {
  color: #494949;
  font-family: Ubuntu;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 14px;
}

.cart-product-code {
  color: #C0C0C0;
  font-family: Ubuntu;
  font-size: 12px;
  line-height: 13px;
}

.number-spinner {
  height: 31px;
  width: 100px;
  padding: 0;
  margin: 0;
  border-radius: 15px;
  border: 1px solid #e3e3e3;
  overflow: hidden;
  position: relative;
  display: table;
}

.number-spinner input {
  height: 31px;
  max-height: 31px;
  line-height: 40px;
  font-size: 13px;
  padding: 0;
  margin: 0;
  border: none;
  position: relative;
  float: left;
  width: 100%;
  text-align: center;
}

.number-spinner input:focus {
  outline: none;
}

.number-spinner .ns-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
  vertical-align: middle;
  display: table-cell;
  cursor: pointer;
}

.number-spinner .ns-btn a {
  height: 31px;
  min-height: 31px;
  width: 40px;
  padding: 0;
  max-width: 40px;
  line-height: 40px;
  border-radius: 0;
  border: none;
  text-align: center;
  position: relative;
  /*background: #e2e2e2;*/
  color: #333;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
}

.number-spinner .ns-btn .icon-minus:after {
  content: "\002212";
  font-size: 13px;
  line-height: 30px;
  font-weight: 600;
}

.number-spinner .ns-btn .icon-plus:after {
  content: "\00002B";
  font-size: 13px;
  line-height: 30px;
  font-weight: 600;
}

.cart-price {
  color: #494949;
  font-family: Ubuntu;
  font-size: 18px;
  font-weight: bold;
  line-height: 21px;
}

.total {
  width: 250px;
  margin-left: auto;
  margin-bottom: 36px;
}

.shopping-cart-total {
  padding-top: 20px;
}

.checkout-btn {
  height: 40px;
  width: 443px;
  color: #FFFFFF;
  background: #0F6F00;
  border-radius: 5px;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: bold;
  line-height: 19px;
  text-align: center;
  outline: none;
  margin: 0 auto;
  display: block;
}
.cart-total-price {
  color: #494949;
  font-family: Ubuntu;
  font-size: 30px;
  font-weight: bold;
  line-height: 35px;
}

.total p {
  color: #494949;
  font-family: Ubuntu;
  font-size: 16px;
  line-height: 18px;
}
.cart-footer {
  padding: 0 80px;
}

/*Delivery and payment*/

.delivery-block .title {
  margin-bottom: 40px;
}
.delivery-block h5 {
  color:   #494949;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: bold;
  line-height: 25px;
  margin-bottom: 38px;
}
.delivery-block p {
  color:   #494949;
  font-family: Ubuntu;
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 38px;
}

/*Products catalog*/

aside.filter {
  width: 31%;
  height: auto;
  border: 1px solid #E3E3E3;
}
aside.filter h5 {
  color: #494949;
  font-family: Ubuntu;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 24px;
}
.filter-price {
  padding: 27px 19px 40px 21px;
  border-bottom: 1px solid #E3E3E3;
}
.filter  .filter-price input[type=number] {
  width: 60px;
  height: 25px;
  border: 1px solid #E3E3E3;
  border-radius: 12.5px;
  padding-left: 5px;
  font-size: 14px;
  margin-right: 5px;
}
.filter-price span {
  color: #494949;
  font-family: Ubuntu;
  font-size: 14px;
  line-height: 16px;
  margin-right: 5px;
}
.filter-brand {
  padding: 25px 30px 40px 24px;
  border-bottom: 1px solid #E3E3E3;
}
.filter-brand:last-child {
  border-bottom: none;
}
.filter-brand p {
  color: #494949;
  font-family: Ubuntu;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 6px;
}
.filter-brand input[type=checkbox] {
  height: 12px;
  width: 12px;
  border: 1px solid #E3E3E3;
  border-radius: 2px;
  background-color: #FFFFFF;
  margin-right: 9px;
}

.products-product-wrap {
  display: flex;
  width: 100%;
  margin-bottom: 70px;
}
.products-list {
  width: 100%;
  border: 1px solid #E3E3E3;
  display: flex;
  flex-wrap: wrap;
}

.product {
  height: 344px;
  width: 33.33%;
  border-right: 1px solid #E3E3E3;
  border-bottom: 1px solid #E3E3E3;
  background-color: #FFFFFF;
  padding: 40px 28px 53px 28px;
  position: relative;
}
.product-img {
  height: 123px;
  width: 100%;
}
.product-img img {
  width: 100%;
}
.product-title {
  color: #494949;
  font-family: Ubuntu;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 12px;
}
.product-price {
  color: #BF4444;
  font-family: Ubuntu;
  font-size: 30px;
  font-weight: bold;
  line-height: 35px;
  margin-bottom: 10px;
}
.product-old-price {
  color: #B4B4B4;
  font-family: Ubuntu;
  font-size: 18px;
  line-height: 21px;
}
.wish-btn {
  position: absolute;
  right: 28px;
  top: 40px;
  height: 16.89px;
  width: 20px;
}


.soon {
  font-size: 20px;
  color: red;
}


/* Order Page */

.order-block {
  width: 100%;
  height: 1061px;
  border: 1px solid #E3E3E3;
  border-radius: 10px;
  background-color: #FFFFFF;
  margin-top: 51px;
  margin-bottom: 67px;
}
.order-block h3 {
  color: #494949;
  font-family: Ubuntu;
  font-size: 30px;
  font-weight: bold;
  line-height: 35px;
  margin-bottom: 49px;
}

.order-block form {
  width: 100%;
  height: 100%;
  //border-right: 1px solid #e3e3e3;
  display: flex;
}

.order-block form .left {
  border-right: 1px solid #e3e3e3;
}

.checkout-block {
  padding: 45px 50px 49px 61px;
  border-bottom: 1px solid #e3e3e3;
}

.order-block label {
  width: 154px;
  color: #494949;
  font-family: Ubuntu;
  font-size: 18px;
  line-height: 21px;
  margin-right: 30px;
}

.order-block input[type=text],
.order-block input[type=tel],
.order-block input[type=email] {
  height: 35px;
  width: 475px;
  border: 1px solid #E3E3E3;
  border-radius: 13px;
  background-color: #FFFFFF;
  padding-left: 20px;
}

.order-block .inputs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.info-about-post {
  padding: 35px 50px 41px 61px;
  border-bottom: 1px solid #e3e3e3;
  margin-bottom: 48px;
}
.info-about-post h4 {
  color: #494949;
  font-family: Ubuntu;
  font-size: 21px;
  line-height: 25px;
  margin-bottom: 51px;
}

.order-block .delivery {
  display: flex;
  margin-bottom: 45px;
}
.order-block .dell {
  width: 100%;
}
.order-block .np-delivery {
  display: flex;
  align-items: center;
  width: 100%;
}
.order-block .np-delivery input[type=checkbox],
.order-block .courier-delivery input[type=checkbox] {
  margin-right: 28px;
}

.order-block .np-delivery span,
.order-block .courier-delivery span {
  color: #494949;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  display: block;
}
.order-block .np-delivery-price,
.order-block .courier-delivery-price {
  margin-left: auto;
}

.order-block .courier-delivery {
  display: flex;
  align-items: center;
}

.order-btn {
  height: 40px;
  width: 290px;
  color: #FFFFFF;
  background: #0F6F00;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: bold;
  line-height: 17px;
  text-align: center;
  margin: 0 auto;
  display: block;
  border: none;
  position: relative;
}

.order-cart-products {
  width: 320px;
  overflow: scroll;
  position: relative;
}

.cart-product-item {
  width: 100%;
  position: relative;
  padding:37px 21px 36px 10px;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #E3E3E3;
  position: relative;
}
.cart-product-img {
  height: 102px;
  width: 102px;
  margin-right: 10px;
}
.cart-product-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cart-product-info {

  .product-name {
    width: 150px;
    color: #494949;
    height: 30px;
    overflow: hidden;
    font-family: Ubuntu;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    margin-bottom: 5px;
  }
  .product-code {
    color: #E3E3E3;
    font-family: Ubuntu;
    font-size: 10px;
    line-height: 11px;
    margin-bottom: 20px;
    display: block;
  }
}

.order-total-price {
  padding-top: 29px;
  padding-left: 57px;

  .total-price {
    color: #494949;
    font-family: Ubuntu;
    font-size: 30px;
    font-weight: bold;
    line-height: 35px;
  }
}

.mob {
  display: none;
}

.amountandprice  {
  display: flex;
  justify-content: space-between;
}
.amountandprice {

  .product-price {
    color: #494949;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
  }
}

.del {
  position: absolute;
  top: 35px;
  right: 19px;
}








/*Footer*/

footer {
  padding-top: 57px;
  height: auto;
  width: 100%;
  border: 1px solid #E3E3E3;
  background-color: #FFFFFF;
}
footer .container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
footer .container ul h5 {
  font-size: 18px;
  font-weight: 700;
  font-family: Ubuntu;
  margin-bottom: 20px;
}
footer .container ul li,
footer .container ul li a{
  color: #494949;
  font-family: Ubuntu;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 20px;
}

.social p,
.subscribe p{
  color: #B9B9B9;
  font-family: Ubuntu;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 20px;
}

footer .d-flex {
  width: 100%;
  justify-content: space-around;
}

.footer-menu {
  margin-bottom: 50px;
}

.footer-search {
  position: relative;
}

.footer-search input[type=search] {
  height: 25px;
  width: 271px;
  border: 1px solid #E3E3E3;
  background-color: #FFFFFF;
  border-radius: 12.5px;
  outline: none;
  padding-left: 20px;
  position: relative;

  font-family: Ubuntu;
  font-size: 12px;
  font-style: italic;
  line-height: 13px;
}
.footer-search button {
  height: 25px;
  width: 42px;
  border-radius: 0 12.5px 12.5px 0;
  background-color: #0F6F00;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-media {
  padding-bottom: 60px;
}
.copyright {
  border-top: 1px solid #E3E3E3;
  padding:35px 0;
}
.copyright a {
  color: #B9B9B9;
  font-family: Ubuntu;
  font-size: 16px;
  line-height: 18px;
}
@media screen and (max-width: 1200px) {
  .container {
    width: 100% !important;
    max-width: 100% !important;
    padding: 0;
  }
  .products-container {
    display: flex;
    flex-wrap: wrap;
  }
  .search {
    margin-right: 30px;
    width: 100%;
  }
  .search input[type=search] {
    width: 100%;
  }
  .products-container {
    border: none;
    justify-content: space-around;
  }
  .product-item {
    border: 1px solid #dedede;
    width: 24%;
    padding: 30px;
    margin-bottom: 20px;
  }
  .product-item:last-child {
    border: 1px solid #dedede;
  }
  .product-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .main-products-container .title {
    font-size: 25px;
    margin-bottom: 20px;
  }
  header nav ul a {
    font-size: 14px;
  }
  .currently-price {
    font-size: 25px;
  }
  .product-img {
    margin-bottom: 15px;
  }
  footer .container ul h5 {
    font-size: 14px;
  }
  .main-block {
    width: 65%;
  }
  .help-block form textarea {
    width: 100%;
  }
  .categories {
    width: 29%;
  }
  .main-slider {
    width: 68% !important;
    height: 100%;
  }
  .cart-product-item {
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {

  .product-item {
    width: 46%;
  }
  .logo {
    display: none !important;
  }
  .logo-mob {
    display: block !important;
    height: 92px;
    width: auto;
    margin-right: auto;
  }
  .navbar {
    height: 70px;
    z-index: 9999;
    border: none !important;
    display: flex !important;
  }
  .navbar-nav {
    background: #fff;
    margin: 0 auto;
    width: 100%;
    align-items: center;
    padding: 10px 0 10px 0;
  }
  .navbar-collapse {
    padding: 0;
    //border-top: 1px solid #e3e3e3;
  }
  .main-nav {
    display: none;
  }
  .nav-link {
    padding: 0 !important;
    margin-bottom: 5px;
  }

  .search input[type=search] {
    width: 100%;
    margin-right: 30px;
  }
  .main-slider {
    width: 100%;
  }
  .main-block {
    width: 100%;
    margin-bottom: 30px;
  }
  aside.sidebar {
    margin-bottom: 30px;
  }
  .d-flex {
    margin-bottom: 20px;
  }
  .input-group div {
    //width: 44%;
  }
  .help-block {
    padding: 20px;
  }
  .help-block form button[type=submit] {
    margin:  0 auto;
  }
  .about-img {
    width: 100%;
    height: 300px;
    object-fit: contain;
  }
  .about-text {
    width: 100%;
  }
  .about-block .title,
  .contacts-block .title ,
  .help-block .title,
  .how-to-use .title,
  .delivery-block .title {
    margin-bottom: 20px;
  }
  aside.sidebar {
    margin: 0 auto;
    margin-bottom: 30px;
    display: none;
  }
  aside.filter {
    display: none;
  }
  .categories {
    display: none;
  }
  .main-slider {
    width: 100% !important;
    height: 100%;
  }
  .main-slider div img{
    width: 100%;
    object-fit: cover !important;
  }
  .navbar {
    margin-bottom: 25px;
  }
  .order-block {
    height: auto;
  }
  .order-block form {
    flex-wrap: wrap;
  }
  .order-cart-products {
    width: 100%;
  }
  .cart-product-img {
    margin-right: 20px;
  }
  .cart-product-item {
    padding-left: 20px;
  }
  .hid {
    display: none;
  }
  .mob {
    margin-bottom: 30px;
    display: block;
  }
  .order-total-price {
    padding: 20px;
    border-bottom: 1px solid #e3e3e3;
    margin-bottom: 20px;
  }
}




@media screen and (max-width: 480px) {
  .container {
    padding: 0 !important;
  }
  .logo {
    margin: 0 auto;
  }
  .header-top {
    justify-content: center;
    margin-bottom: 0;
  }
  .dropdown {
    order: 2;
    width: 100%;
  }
  .desktop-menu {
    margin: 0 auto;
    width: 100%;
  }
  .header-bottom {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  header .container {
    flex-wrap: wrap;
    width: 100%;
  }
  .search-block {
    padding-left: 20px;
  }
  .search input[type=search] {
    width: 100%;
  }
  .main-products-container {
    margin-bottom: 30px;
  }
  .main-products-container .title {
    text-align: center;
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 15px;
  }
  .main-slider {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
  }

  .d-flex {
    justify-content: center;
    margin-bottom: 20px;
  }
  .more {
    margin: 0 auto;
    margin-bottom: 25px;
  }
  .product-item ,
  .product-item:last-child {
    padding-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #dedede;
  }
  .product-item:last-child {
    margin-bottom: 0;
  }
  .product-item:last-child
  .main-products-container {
    margin-bottom: 20px;
  }
  .products-container {
    flex-wrap: wrap;
    border: none;
    justify-content: center;
  }
  footer {
    padding-top: 20px;
  }
  footer .container ul li,
  footer .container ul li a {
    margin-bottom: 5px;
  }
  footer .container ul h5 {
    margin-bottom: 5px;
    font-size: 16px;
  }
  footer .container ul {
    margin-bottom: 5px;
  }
  .footer-menu {
    margin-bottom: 10px;
  }
  .social-media {
    padding-bottom: 30px;
  }
  .slick-next {
    right: 15px !important;
  }
  .slick-prev {
    left: 15px !important;
    z-index: 1;
  }

  .product-item {
    width: 80%;
  }
  footer .container {
    padding-left: 20px !important;
    flex-direction: column;
  }
  .social-media .social {
    margin-bottom: 15px;
  }
  .search {
    width: 100%;
    margin-right: 20px;
  }
  .main-block {
    margin-bottom: 30px;
  }

  .main-block {
    width: 100%;
    padding: 20px;
  }
  .about ,
  .contacts {
    padding: 20px;
  }
  .about-text {
    width: 100%;
  }
  .help-block form input[type=email], .help-block form input[type=text] {
    width: 100%;
  }
  .input-group div {
    width: 100%;
  }
  .help-block form textarea {
    width: 100%;
  }
  .help-block form button[type=submit] {
    width: 100%;
  }
  .accordion-content {
    padding: 10px;
  }
  .products-product-wrap {
    flex-wrap: wrap;
  }
  aside.filter {
    width: 100%;
  }
  .product {
    width: 90%;
    border-right: 0;
  }
  .about-block .title {
    margin-bottom: 20px;
  }
  .about-img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  .navbar-light .navbar-toggler {
    margin-right: 20px
  }
  .checkout-block,
  .info-about-post {
    padding: 20px;
  }
  .order-block input[type=email], .order-block input[type=tel], .order-block input[type=text] {
    width: 100%;
  }
  .inputs {
    width: 100%;
  }
  .inputs div {
    width: 100%;
  }
  .delivery {
    flex-wrap: wrap;
  }
  .order-block {
    margin-top: 20px;
  }
  .order-block .inputs {
    margin-bottom: 15px;
  }
  .delivery {
    margin-bottom: 15px;
  }
  .order-block h3 {
    margin-bottom: 15px;
  }
  .order-block form .left ,
  .order-block form {
    border-right: 0;
  }
  .order-total-price {
    padding: 20px;
    border-bottom: 1px solid #e3e3e3;
    margin-bottom: 20px;
  }
  .hid {
    display: none;
  }
  .info-about-post {
    margin-bottom: 15px;
  }
  .vis {
    margin-bottom: 30px;
  }
}









