<header>
    <div class="container">
        <div class="logo">
            <a href="index.html">
                <img src="img/logo.png" alt="">
            </a>
        </div>
        <div class="header-right">
            <div class="header-top">
                <div>
                    <span>(044) 333-24-44</span>
                    <span>(055) 310-14-24</span>
                </div>
                <div>
                    <a href="#" class="call"><i class="fas fa-mobile-alt"></i>Перезвоните мне</a>
                </div>
            </div>
            <nav class="main-nav">
                <ul>
                    <li><a href="delivery.html">Доставка и оплата </a></li>
                    <li><a href="products.html">Товары</a></li>
                    <li><a href="how-to-use.html">Для пользователей</a></li>
                    <li><a href="help.html">Помощь</a></li>
                    <li><a href="contacts.html">Контакты</a></li>
                    <li><a href="about.html">О нас</a></li>
                </ul>
            </nav>

            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="logo-mob">
                    <a href="index.html">
                        <img src="img/logo.png" alt="">
                    </a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ">
                        <li class="nav-item">
                            <a class="nav-link" href="delivery.html">Доставка и оплата</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="products.html">Товары</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="how-to-use.html">Для пользователей</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="help.html">Помощь</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contacts.html">Контакты</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about.html">О нас</a>
                        </li>
                    </ul>
                </div>
            </nav>

        </div>
    </div>
    <div class="header-bottom">
        <div class="container">
            <div class="dropdown">
                <button class="desktop-menu" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-list-ul"></i>
                    Каталог товаров
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#"> <img src="img/notebook.svg" alt=""> Ноутбуки и компьютеры <span>></span></a>
                    <a class="dropdown-item" href="#"><img src="img/smartphone.svg" alt="">Смартфоны, электроника <span>></span></a>
                    <a class="dropdown-item" href="#"><img src="img/electrical-appliance.svg" alt="">Бытовая техника <span>></span></a>
                    <a class="dropdown-item" href="#"><img src="img/chair.svg" alt="">Товары для дома <span>></span></a>
                    <a class="dropdown-item" href="#"><img src="img/driller.svg" alt="">Автотовары <span>></span></a>
                    <a class="dropdown-item" href="#"><img src="img/bathtub.svg" alt="">Сантехника и ремонт <span>></span></a>
                    <a class="dropdown-item" href="#"><img src="img/construction-and-tools.svg" alt="">Дача, сад и огород <span>></span></a>
                    <a class="dropdown-item" href="#"><img src="img/tennis.svg" alt="">Спорт и увлечения <span>></span></a>
                    <a class="dropdown-item" href="#"><img src="img/t-shirt-outline.svg" alt="">Одежда, обувь <span>></span></a>
                    <a class="dropdown-item" href="#"><img src="img/beauty.svg" alt="">Красота и здоровье <span>></span></a>
                    <a class="dropdown-item" href="#"><img src="img/teddy-bear.svg" alt="">Детские товары <span>></span></a>
                    <a class="dropdown-item" href="#"><img src="img/paper-clips.svg" alt="">Канцтовары и книги <span>></span></a>
                    <a class="dropdown-item" href="#"><img src="img/caipirinha.svg" alt="">Алкогольные продукты <span>></span></a>
                    <a class="dropdown-item" href="#"><img src="img/barcode.svg" alt="">Товары для бизнеса <span>></span></a>
                </div>
            </div>



            <div class="search-block">
                <div class="search">
                    <input type="search" placeholder="Найдите интересующий вас товар">
                    <button type="submit"><img src="img/search.svg" alt="search"></button>
                </div>
                <a href="#" class="wish"><i class="fas fa-heart"></i></a>

                <button class="show-modal  cart-btn"><img src="img/cart.svg" alt="cart"></button>
            </div>
        </div>
    </div>

    <div class="modal">
        <a class="close-modal" href="#">X</a>
        <div class="modal-title"><h4>Корзина с товаром</h4></div>
        <div class="cart-body">
            <div class="cart-item">
                <div class="cart-item-img">
                    <img src="img/product.png" alt="">
                </div>
                <div class="cart-pruduct-info">
                    <h5 class="cart-product-name">Холодильник Vestfrost CX263W</h5>
                    <p class="cart-product-code">Код: 1292354</p>
                </div>
                <div class="amount">
                    <form class="number-spinner">
						<span class="ns-btn">
		  					<a data-dir="dwn"><span class="icon-minus"></span></a>
  						</span>
                        <input type="text" class="pl-ns-value" value="1" maxlength=2>
                        <span class="ns-btn">
		  					<a data-dir="up"><span class="icon-plus"></span></a>
  						</span>
                    </form>
                </div>
                <div class="cart-price">7 999 грн</div>
                <a href="#" class="delete" ><img src="img/delete.svg" alt="delete"></a>
            </div>
            <div class="cart-item">
                <div class="cart-item-img">
                    <img src="img/product.png" alt="">
                </div>
                <div class="cart-pruduct-info">
                    <h5 class="cart-product-name">Холодильник Vestfrost CX263W</h5>
                    <p class="cart-product-code">Код: 1292354</p>
                </div>
                <div class="amount">
                    <form class="number-spinner">
						<span class="ns-btn">
		  					<a data-dir="dwn"><span class="icon-minus"></span></a>
  						</span>
                        <input type="text" class="pl-ns-value" value="1" maxlength=2>
                        <span class="ns-btn">
		  					<a data-dir="up"><span class="icon-plus"></span></a>
  						</span>
                    </form>
                </div>
                <div class="cart-price">7 999 грн</div>
                <a href="#" class="delete" ><img src="img/delete.svg" alt="delete"></a>
            </div>
            <div class="cart-item">
                <div class="cart-item-img">
                    <img src="img/product.png" alt="">
                </div>
                <div class="cart-pruduct-info">
                    <h5 class="cart-product-name">Холодильник Vestfrost CX263W</h5>
                    <p class="cart-product-code">Код: 1292354</p>
                </div>
                <div class="">
                    <form class="number-spinner">
						<span class="ns-btn">
		  					<a data-dir="dwn"><span class="icon-minus"></span></a>
  						</span>
                        <input type="text" class="pl-ns-value" value="1" maxlength=2>
                        <span class="ns-btn">
		  					<a data-dir="up"><span class="icon-plus"></span></a>
  						</span>
                    </form>
                </div>
                <div class="cart-price">7 999 грн</div>
                <a href="#" class="delete" ><img src="img/delete.svg" alt="delete"></a>
            </div>
            <div class="shopping-cart-total">
                <div class="total">
                    <p>Итого:</p>
                    <span class="cart-total-price">35 699 грн</span>
                </div>
                <button class="checkout-btn" type="submit">Оформить заказ</button>
            </div>
        </div>
        <div class="cart-footer">

        </div>
    </div>
</header>


