{% extends 'shop/index.html' %}
{% load static %}
{% block slider %}
{% endblock slider %}
{% block content %}

<section class="">
    <div class="container">
        <div class="order-block">
            <form id="order_create_form" method="post" action="{% url 'orders:order_create' %}">
                {% csrf_token %}
                <div class="left">
                    <div class="checkout-block">
                        <h3>Оформить заказ</h3>
                        <div class="inputs">
                            <label for="">Ваш город</label>
                            <div>
                                <input name="city" type="text" required>
                            </div>
                        </div>

                        <div class="delivery">
                            <label for="">Доставка</label>
                            <div class="dell">
                                <div class="np-delivery">
                                    <span style="margin-left: 35px">Доставка Новой Почтой</span>
                                </div>
                            </div>
                        </div>

                        <div class="inputs">
                            <label for="">Телефон</label>
                            <div>
                                <input name="phone" type="tel" required>
                            </div>
                        </div>
                        <div class="inputs">
                            <label for="">Имя</label>
                            <div>
                                <input name="first_name" type="text" required>
                            </div>
                        </div>
                        <div class="inputs">
                            <label for="">Фамилия</label>
                            <div>
                                <input name="last_name" type="text" required>
                            </div>
                        </div>
                        <div class="inputs">
                            <label for="">Отчество</label>
                            <div>
                                <input name="patronymic" type="text" required>
                            </div>
                        </div>
                        <div class="inputs">
                            <label for="">E-mail</label>
                            <div>
                                <input name="email" type="email" required>
                            </div>
                        </div>
                    </div>
                    <div class="info-about-post">
                        <h4>Информация об отделении Новой Почты</h4>
                        <div class="inputs">
                            <label for="">Номер отделения</label>
                            <div>
                                <input name="nova_poshta" type="text" required>
                            </div>
                        </div>
                    </div>
                    <button class="order-btn hid">Оформить заказ </button>
                </div>
                <div class="order-cart-products">
                    {% for item in cart %}
                        <div class="cart-product-item">
                            <div class="cart-product-img">
                                <img src="{{ item.product.imageurls.first.url }}">
                            </div>
                            <div class="cart-product-info">
                                <h5 class="product-name">{{ item.product.name }}</h5>
                                <span class="product-code">Код: {{ item.product.vendor_code }}</span>

                                <div class="amountandprice">
                                    <div class="product-price">{{ item.product.price }} грн</div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}




                    <div class="order-total-price">
                        <p>Итого:</p>
                        <span class="total-price">{{ cart.get_total_price }} грн</span>
                    </div>
                    <button class="order-btn mob">Оформить заказ </button>
                </div>
            </form>
        </div>
    </div>
</section>


{% endblock content %}