{% extends 'shop/index.html' %}
{% load static %}
{% block slider %}
{% endblock slider %}
{% block content %}

    <section class="about">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="#">Интернет-магазин</a></li>
                <li><a href="#">Техника</a></li>
                <li><a href="#">Ноутбуки и планшеты</a></li>
                <li>Ноутбук HP 15-ra023ur (3FY99EA) Black</li>
            </ul>
        </div>
        <div class="container">
            <div class="product-block">
                <div>

                </div>
            </div>
        </div>
    </section>

{% endblock content %}